/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;



    padding: 2em;
    background-color: #d2faf7;
}
main h1{
    font-size: 150%;
    background-color: white;
    border: #931420 5px double;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px black;
    text-indent: 45px;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
.form-inline{
    position: relative;
    float: right;
    alignment: right;
    margin: auto;
    text-align: center;
}
